*{
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25vh;
    width: 10vw;
    background-color: wheat;
    text-align: center;
    border-radius: 12px;
    
}

.likeButton{
    width: 4vw;
    height: 4vh;
    border-radius: 12px;
    border-width: 0ch;
}

section{
    display: flex;
    justify-content: space-around;
}